# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables (secrets)
.env
server/.env
client/.env

# Build folders
build/
dist/
client/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Coverage reports
coverage/

# Optional
.env.local
.env.development.local
.env.test.local
.env.production.local


*.bak
